- if locations.length == 0
  %p Sorry, no results found.
.grid.is-gutter-3
  - locations.each do |location|
    .grid_col.is-4of12.sm-col-full
      = link_to location do
        .card
          .card-image
            - if  location.cover_image.attached?
              = image_tag location.cover_image.service_url
          .card-utility
            %span.card-icon{class: "category-#{location.category}"}
            %span.card-icon-label #{category_options.key(location.category)}
          .card-details
            %p
              %strong= location.name
            %p= "#{location.city}, #{location.state}"
- paginate_cards = !defined?(disable_pagination)
- if paginate_cards
  .pagination-wrap= paginate locations